body {
    background-color: rgba(10, 10, 10, 0.9);
    background-image: url(Img/Stars.jpeg);
    position: relative;
}

header {
    background-color: rgba(18,18,18,0.25);
    border: 2px solid #c0c0c0;
    border-radius: 10px;
    height: 75px;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

@font-face {
    font-family: hButton;
    src: url('https://fonts.googleapis.com/css2?family=Cormorant+SC&display=swap');
}

.hButton {
    width: 250px;
    border: 2px solid rgba(10, 10, 10, 0.5);
    margin: 180px;
    padding: 12px 10px;
    display: flex;
    font-size: 20px;
    font-family: 'Cormorant SC', serif;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #f23f71, #ff3527);
    border-radius: 6px;
    box-shadow: 0.5px 1px black;
    cursor: pointer;
    justify-content: center;
}

#icon{
    position: absolute;
  top: 0.75%;
  left: 3%;
}

.hButton:hover{
    /* background: rgba(255,255,255,0.25);
    color: #ff3527; */
    border: 2px solid #ff3527;
    box-shadow: 0 0 10px #ff3131, 0 0 40px #ff3131, 0 0 80px #ff3131;
}

#icon{
    margin-left: 0px;
    padding-right: 100px;
}

@font-face {
    font-family: rMoon;
    src: url('https://fonts.googleapis.com/css2?family=Uchen&display=swap');
}

#rMoon {
    margin: 80px auto;
    position: relative;
    height: 510px;
    width: 520px;
    font-family: 'Uchen', sans-serif;

    background: black url(Img/MarsMap.jpg) 0 0 repeat;
    border-radius: 50%;
    background-size: 1000px;
    animation: rotate 25s linear infinite;
    transition: transform 200ms linear;
    transform-style: preserve-3d;
    box-shadow: inset 125px 10px 80px 5px rgba(10, 0, 10, 1);
    color: #fff;
    font-size: large;
    text-align: center;
    margin: 50px auto;

}

@keyframes rotate {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 1030px 0;
    }
}

@font-face {
    font-family: face;
    src: url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
}

#text1 {
    color: #c0c0c0;
    font-size: large;
    text-align: center;
    margin: 50px auto;
    font-family: 'Dosis', sans-serif;
}

#text2 {
    color: #c0c0c0;
    font-family: sans-serif;
    font-size: large;
    text-align: center;
    margin: 50px auto;
    font-family: 'Dosis', sans-serif;
}

footer {
    height: 100px;
    width: 100%;
    color: #fff;
    border: 5px double #6200ee;
    background-color: rgba(98, 0, 238, 0.1);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

ul li {
    display: inline;
    margin: 40px;
}


